.div-a{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 71px;
 margin: 0 auto;
 gap: 148px;
}
.ul-a{
    display: flex;
    width: 416px;
    height: 60px;
    gap: 8px;
    
}
.li-a{
    list-style: none;
    display: inline-block;
        width: 46px;
    height: 24px;
}
#home{
    font-weight: bold;
    color: black;
}
#aboutus{
        width: 73px;
   
}
#cart{
    width: 113px;
}
.img-a{
    width: 22px;
    height: 15px;

}
.div-b{
display: flex;
width: 1140px;
height: 461px;
margin: 80px auto 0 auto;
}

.div-c{
    width: 570px;
    height: 229px;
    gap: 13px;
    margin-top: 60px;
    
}
.h1-a{
    height: 178px;
    font-size: 65px;
    font-weight: bold;
    color: #E95A08;
}
.sp-a{
    color: black;
}
.p-a{
    height: 108px;
    font-size: 22px;
}
.div-d{
    width: 570px;
    height: 355px;
    margin-top: 106px;
}


@media screen and (max-width<577px) {
 #home
 #aboutus
 #shop{
    display:none;
 }
    
}